@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=SUSE:wght@100..800&display=swap');
/* Root variables */
:root {
  /* background: rgb(43, 38, 49); */
  --primary: 242, 214, 28;
  --inter: 168, 174, 173;
  --secondary: 218, 200, 108;
  --accent: 63, 161, 244;
  --text: 17, 14, 1;
  --bg: 255, 254, 249;
  /* ander font nodig? */
  --heading: "Nunito", sans-serif;
  --font: "SUSE", verdana;
  color: rgba(var(--text), 1);
  font-family: var(--font);
  background: rgba(var(--bg), 1);
}

/* CSS reset */
* {
  /* dit breekt wat animations? */
  transition: all 300ms ease;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
main {
  min-height: 100vh;
}

/* General styling */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
  color: rgba(var(--primary), 1);
  /* mask de text? */
}

h1 {
  padding-right: 1rem;
  font-size: clamp(1rem, 4vw, 2rem);
}

