@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=SUSE:wght@100..800&display=swap");
/* Root variables */
:root {
  /* background: rgb(43, 38, 49); */
  --primary: 153, 198, 63;
  --secondary: 154, 222, 145;
  --accent: 111, 211, 119;
  --text: 19, 23, 7;
  --bg: 238, 255, 204;
  /* ander font nodig? */
  --heading: "Nunito", sans-serif;
  --font: "SUSE", verdana;
  color: rgba(var(--text), 1);
  font-family: var(--font);
  background: rgba(var(--bg), 1);
}

/* CSS reset */
* {
  transition: all 300ms ease;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
main {
  min-height: 100vh;
}

/* General styling */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
  color: rgba(var(--primary), 1);
  /* mask de text? */
}

h1 {
  font-weight: 500;
  padding-right: 1rem;
  font-size: clamp(1rem, 4vw, 2rem);
}
/* testing */
header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

header a {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: rgba(var(--primary));
}

header div {
  margin: 0.5rem 0 0 0.75rem;
  height: clamp(3rem, 6.5vw, 4rem);
  width: clamp(3rem, 6.5vw, 4rem);
  mask-image: url("../assets//hummingbird-svgrepo-com.svg");
  background-image: linear-gradient(
    90deg,
    rgba(var(--accent), .6) 0%,
    rgba(var(--primary), 1) 100%
  );
  background-size: 200px 1px;
}

header:hover div {
  background-position: -120px;
}

main {
  background: rgba(var(--bg), 1);
  /* overflow: hidden; */
}

section {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1.25rem;
  margin: 0 auto;
  max-width: 1200px;
  background: rgba(var(--bg), 1);
  background: purple;
  padding: 1.25rem 0;
}


div {
  display: grid;
  place-items: center;
  flex-direction: column;
}

div figure {
  z-index: 2;
  background: rgba(var(--secondary));
}

img {
  padding: 0;
}

img:hover {
  padding: 0.375rem;
}

section div:nth-child(1) {
  flex-direction: row;
  grid-column: span 4 / span 4;
  grid-column-end: 6;
  grid-row-start: 1;
  display: flex;
  grid-row: span 2 / span 2;
}

section div:nth-child(2) {
  flex-direction: row-reverse;
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
  grid-row-end: 5;
  display: flex;
}

section div:nth-child(1) h2 {
  transform: rotate(-90deg);
}

section div:nth-child(1) figure{
  border-radius: .375rem 0 0 .375rem;
}

section div:nth-child(2) h2 {
  transform: rotate(90deg);
}

section div:nth-child(2) figure{
  border-radius: 0 .375rem .375rem 0;
}

figure {
  height: 100%;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* medium screen */
/* ! let op deze overwriten ook items op de large screen */
@media screen and (min-width: 720px) {
  section div:nth-child(1) figure, section div:nth-child(1) img, section div:nth-child(2) figure, section div:nth-child(2) img{
    border-radius: .375rem;
  }
  section {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: rgba(var(--bg), 1);
    padding: 1.25rem;
  }
  section div {
    display: flex;
  }
  section div:nth-child(1) {
    flex-direction: column-reverse;
  }

  section div:nth-child(1) h2 {
    transform: translateY(-100px) rotate(0);
  }

  section div:nth-child(2) {
    flex-direction: column;
  }
  section div:nth-child(2) h2 {
    transform: translateY(100px) rotate(0);
  }

  section div:nth-child(1):hover h2,
  section div:nth-child(2):hover h2 {
    transform: translateY(0);
  }

  section div:nth-child(1) {
    grid-row: span 2 / span 2;
    grid-row-start: 1;
    grid-column: span 3 / span 3;
    grid-column-end: 8;
  }
  section div:nth-child(2) {
    grid-row: span 2 / span 2;
    grid-row-start: 2;
    grid-column: span 3 / span 3;
    grid-column-end: 4;
  }
  div h2 {
    z-index: 1;
    opacity: 0;
    transition: ease 300ms;
  }
  div:hover h2{
    opacity: 1;
  }
}
/* large screen */
@media screen and (min-width: 1000px) {
  section {
    grid-template-columns: repeat(12, 1fr);
  }

  section div:nth-child(1) {
    opacity: 0;
    transform: translateY(100px);
    grid-column: span 4;
    grid-column-end: 12;
    grid-row: span 2;
    grid-row-end: 3;
    width: fit-content;
    place-content: center;
    animation: fade-in 500ms 100ms forwards;
  }

  section div:nth-child(1) h2 {
    transform: translateY(-100px);
    opacity: 1;
  }

  section div:nth-child(2) h2 {
    opacity: 1;
    transform: translateY(100px);
  }

  section div:nth-child(2) {
    opacity: 0;
    transform: translateY(100px);
    grid-column: span 4;
    grid-column-end: 6;
    grid-row: span 2;
    grid-row-end: 4;
    width: fit-content;
    animation: fade-in 500ms 300ms forwards;
  }
}

/*scrollbar styling*/
::-webkit-scrollbar {
  width: 10px;
  background: rgb(0, 0, 0);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
